* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rojo-brillante: rgb(242, 95, 58);
    --azul-oscuro: rgb(35, 44, 81);
    --azul-grisáceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-muy-pálido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);
    --rojo-palido: rgb(240, 152, 130);
    --rojo-transparente: rgba(255, 239, 234,0.8);
}

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 62.5%;
}

/* ------------------------- */
/*|         HEADER          |*/
/* ------------------------- */

.header-container {
    display: flex;
    flex-direction: row;
    height: 10rem;
    justify-content: space-around;
}

.header-container-img,
.header-hamburger {
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu-list, .menu-bottom {
    display: none;
}

header button:hover {
    background-color: var(--rojo-palido);
    cursor: pointer;
}

/* ------------------------- */
/*|           Main          |*/
/* ------------------------- */

main {
    background-image: url(./imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
}

/* ------------------------------ */
/*| Main - Box 1 - First Section |*/
/* ------------------------------ */

.box-section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.main-container .first-section .graph {
    height: auto;
    max-width: 500px;
    width: 100%;
}

/* ------------------------------- */
/*| Main - Box 1 - Second Section |*/
/* ------------------------------- */

.box-section-1 .second-section {
    text-align:center;
}

.box-section-1 .second-section button {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-muy-pálido);
    font-size: 13px;
    font-weight: 500;
    margin: 60px 0 10px 0;
    max-width: 134px;
    padding: 10px 25px;
}

.box-section-1 .second-section button:hover {
    cursor: pointer;
    background-color: var(--rojo-palido);
}

.box-section-1 .second-section h1 {
    color: var(--azul-oscuro);
    font-size: 5.8rem;
    margin-bottom: 1rem;
}

.box-section-1 .second-section p {
    color: var(--azul-grisáceo-oscuro);
    font-size: 1.8rem;
    line-height: 2.6rem;
}

/* ------------------------------- */
/*| Main - Box 2 - Third Section  |*/
/* ------------------------------- */

.box-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
}

.box-section-2 .third-section {
    text-align: center;
}
.box-section-2 .third-section h2 {
    color: var(--azul-oscuro);
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.box-section-2 .third-section p {
    color: var(--azul-grisáceo-oscuro);
    font-size: 1.7rem;
    line-height: 2.4rem;
    padding-bottom: 5rem;
}

/* ------------------------------- */
/*| Main - Box 2 - Fourth Section |*/
/* ------------------------------- */

.box-section-2 .fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-section-2 {
    background-image: url(./imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
}

.fourth-section .articles {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.fourth-section .articles h4 {
    background-color: var(--rojo-muy-pálido);
    border-radius: 30px 0 0 30px;
    color: var(--azul-oscuro);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 0;
}

.fourth-section .articles span {
    background-color: var(--rojo-brillante);
    border-radius: 30px;
    color: var(--rojo-muy-pálido);
    margin-right: 1.5rem;
    padding: 10px 25px;
}

.fourth-section .articles p {
    color: var(--azul-grisáceo-oscuro);
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 2rem;
    padding-bottom: 4rem;
    text-align: left;
}

/* ------------------------------- */
/*| Main - Box 3 - Fifth Section  |*/
/* ------------------------------- */

.box-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-section-3 {
    background-image: url(./imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: left;
}


.box-section-3 h2 {
    color: var(--azul-oscuro);
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    padding: 4rem;
}

.box-section-3 .fifth-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fifth-section .photo{
    bottom: 20%;
    margin-bottom: -4rem;
    position: relative;
}

.fifth-section .photo img {
    max-height: 70px;
    max-width: 70px;
}

.cards {
    align-items: center;
    background-color: var(--variante-gris-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px 0 50px;
    padding-bottom: 3rem;
    row-gap: 20px;
}

.cards:hover {
    background-color: var(--rojo-muy-pálido);
    box-shadow: 4px 4px 4px 4px var(--azul-grisáceo-oscuro);
    border: solid 1px var(--azul-grisáceo-oscuro);
}

.fifth-section h4 {
    color: var(--azul-oscuro);
    font-size: 1.6rem;
}

.cards p {
    color: var(--azul-grisáceo-oscuro);
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
}

.fifth-section .cards:nth-child(odd) {
    display: none;
}

.box-section-3 .carrusel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-section-3 .carrusel .point {  
    border: 2px solid var(--rojo-brillante);
    border-radius: 50%;
    height: 1rem;
    margin: 30px 3px 15px 3px;
    width: 1rem;
}

.box-section-3 button {
    align-self: center;
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-muy-pálido);
    font-size: 13px;
    font-weight: 500;
    margin: 10px 0;
    max-width: 134px;
    padding: 10px 25px;
}

.box-section-3 button:hover {
    background-color: var(--rojo-palido);
    cursor: pointer;
}

/* ------------------------------- */
/*|         Main - Box 4          |*/
/* ------------------------------- */

.box-section-4 {
    align-items: center;
    background-color: var(--rojo-brillante);
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.box-section-4 {
    background-image: url(./imagenes/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
}

.box-section-4 h2 {
    color: var(--rojo-muy-pálido);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.box-section-4 button {
    align-self: center;
    background-color: var(--rojo-muy-pálido);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-brillante);
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0;
    max-width: 134px;
    padding: 10px 25px;
}

.box-section-4 button:hover {
    background-color: var(--rojo-palido);
    cursor: pointer;
}

/* ------------------------------- */
/*|             Footer            |*/
/* ------------------------------- */

.footer-container {
    align-items: center;
    background-color: var(--azul-muy-oscuro);
    display: flex;
    flex-direction: column;
    height: 32rem;
    justify-content: center;
    row-gap: 20px;
}

.footer-container form input {
    border: none;
    border-radius: 50px;
    height: 3.5rem;
    padding: 1rem;
} 

.footer-container form button {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-muy-pálido);
    font-size: 13px;
    font-weight: 500;
    margin: 10px 5px;
    max-width: 134px;
    padding: 10px 25px;
}

.footer-container form button:hover {
    background-color: var(--rojo-palido);
    cursor: pointer;
}

.box-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-list .list {
    display: flex;
    flex-direction: column;
    margin: 0 50px 15px 50px;
}

.box-list li:hover{
    color: var(--rojo-brillante);
    cursor: pointer;
}

.box-list ul li {
    color: var(--variante-gris-claro);
    font-size: 1.2rem;
    line-height: 20px;
    list-style: none;
}

.box-icon .icon a {
    padding: 10px 20px 10px 20px;
}

.box-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.copyright {
    color: var(--variante-gris-claro);
}

/* ------------------------- */
/*|     MEDIAQUERIES        |*/
/* ------------------------- */

@media (min-width:850px) {
    
    /* ------------------------- */
    /*|         HEADER          |*/
    /* ------------------------- */

    header {
        position: sticky;
        top: 0;
        z-index: 3;
        background-color: var(--rojo-transparente);        
    }

    .header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 15rem;
    }
    .menu-list, .menu-bottom {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-bottom {
        align-self: center;
        background-color: var(--rojo-brillante);
        border: none;
        border-radius: 50px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        color: var(--rojo-muy-pálido);
        font-size: 13px;
        font-weight: 500;
        margin: 10px 0;
        max-width: 134px;
        padding: 10px 25px;
    }

    .menu-list ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .menu-list ul a {
        text-decoration: none;
    }


    .menu-list ul li {
        color: var(--azul-oscuro);
        font-size: 1.6rem;
        list-style: none;
        padding: 0 2rem 0 2rem;
    }

    .header-hamburger {
        display: none;
    }

    /* ------------------------- */
    /*|           Main          |*/
    /* ------------------------- */

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* ------------------------------ */
    /*| Main - Box 1 - First Section |*/
    /* ------------------------------ */

    .box-section-1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .first-section {
        order: 2;
    }

    .box-section-1 .graph{
        height: auto;
        width: 100%;
    }

    /* ------------------------------ */
    /*| Main - Box 1 - Second Section |*/
    /* ------------------------------ */

    .second-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 1;
        padding: 0 0 0 40px;   
    }

    .second-section h1 {
        text-align: left;
        max-width: 500px;
    }

    .second-section p {
        text-align: left;
        max-width: 390px;
    }

    /* ------------------------------ */
    /*| Main - Box 2 - Third Section |*/
    /* ------------------------------ */

    .box-section-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }    

    .third-section h2 {
        text-align: left;
        max-width: 500px;
    }

    .third-section p {
        text-align: left;
        max-width: 350px;
    }

    /* ------------------------------ */
    /*| Main - Box 2 - Fourth Section |*/
    /* ------------------------------ */

    .fourth-section {
        display: flex;
        flex-wrap: wrap;
    }

    .fourth-section .articles {
        margin-left: 100px;
        max-width: 470px;
    }

    .fourth-section .articles h4 {
        background-color: transparent;
    }

    .fourth-section .articles span {
        margin-left: -27rem;
    }

    /* ------------------------------ */
    /*| Main - Box 3 - Fifth Section |*/
    /* ------------------------------ */

    .cards {
        display: flex;
        margin: 20px;
        padding: 20px;
    }

    .fifth-section .cards:nth-child(odd) {
        display: flex;
    }

    .fifth-section .photo{
        bottom: 30%;
        position: relative;
    }
    
    .box-section-3 .carrusel {
        display: none;
    }

    .box-section-3 h2 {
        font-size: 4rem;
        padding: 80px 0;
    }

    .box-section-3 p {
        font-size: 1.6rem;
        text-align: center;
    }


    .box-section-3 button {
        margin-bottom: 100px;
    }

    /* ------------------------------ */
    /*|         Main - Box 4         |*/
    /* ------------------------------ */

    .box-section-4 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .box-section-4 {
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(./imagenes/bg-simplify-section-desktop.svg);
    }
    
    .box-section-4 h2 {
        max-width: 500px;
        text-align: left;
    }

    /* ------------------------------ */
    /*|             Footer           |*/
    /* ------------------------------ */

    .footer-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .footer-container form {
        align-self: flex-start;
        padding-top: 75px;
    }

    .box-list .list{
        margin: 25px 0 0 0;
        padding: 0 50px;
        row-gap: 25px;
    }

    .box-icon {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 100px;
    }

    .box-icon .icon a {
        padding: 5px;
    }

    .copyright {
        margin-top: 150px;
        position: absolute;
        right: 100px;
    }

}
