* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rojo-brillante: rgb(242, 95, 58);
    --azul-oscuro: rgb(35, 44, 81);
    --azul-grisáceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-muy-pálido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);
}

html {
    background-color: var(--variante-gris-claro);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 62.5%;
}

/* Header */

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-around;
}

/* Header - Logo*/

header div img {
    max-height: 23px;
    max-width: 120px;
}

/* Header - Nav*/

header nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    color: var(--azul-oscuro);
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    padding: 10px;
}

/* Header - Button*/

header button {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-muy-pálido);
    font-size: 13px;
    font-weight: 500;
    max-width: 134px;
    padding: 10px 25px;
}

/* Main - Box 1*/
    /* First section*/

.box-section-1 {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
    padding: 0 6rem 0 7rem;
}
    
.first-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: justify;
    max-width: 50rem;
    padding-top: 7rem;
    padding-bottom: 5.0rem;
}
    
.first-section h1 {
    display: flex;
    color: var(--azul-oscuro);
    font-size: 5.8rem;
    font-weight: 70rem;
    justify-content: center;
    text-align: left;
}
    
.first-section p {
    display: flex;
    font-weight: 50rem;
    line-height: 2.6rem;
    max-width: 35rem;
    padding: 2.8rem 0;
}

.first-section button {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 5.0rem;
    box-shadow: 0rem 0.4rem 0.7rem rgba(0, 0, 0, 0.25);
    color: var(--rojo-muy-pálido);
    font-size: 1.3rem;
    font-weight: 50;
    max-width: 13.4rem;
    padding: 1rem 2.5rem;
    margin-left: 1rem;
}
    
/* Main - Box 1*/
    /* /Second section/ */
    
.second-section {
    display: flex;
    justify-content:center;
}
    
.second-section img {
    display: flex;
    top: 22rem;
    padding-left: 5rem;
    max-width: 63rem;
    max-height: 52.5rem;
}

/* Main - Box 2*/
    /*Third section*/

.box-section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-top: 10rem;
    padding: 0 6rem 0 7rem;
}

.third-section {
    display: flex;
    flex-direction: column;
}

.third-section h2 {
    color: var(--azul-oscuro);
    display: flex;
    font-size: 3.6rem;
    font-weight: 700;
    text-align: left;
    width: 400px;
}

.third-section p {
    display: flex;
    font-weight: 500;
    justify-content: center;
    line-height: 24px;
    max-width: 337px;
    padding-top: 36px;
    text-align: justify;

}

/* Main - Box 2*/
    /*Fourth section*/

.fourth-section {
    display: flex;
    flex-direction: column;
    padding-left: -100px;
    width: 500px;
}

.fourth-section p {
    line-height: 2;
    font-size: 1.6rem;
}

.fourth-section span {
    margin-left: -100px;
}

.fourth-section p:first-of-type {
    color: var(--azul-oscuro);
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 0 0 15px 0;
    
    
}

.fourth-section div span {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 30px;
    color: var(--rojo-muy-pálido);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: 43px;
    justify-content: center;
    margin-right: 23px;
    max-width: 63px;
    padding: 10px 25px;
}


.fourth-section p:nth-child(2) {
    color: var(--azul-grisáceo-oscuro);
    padding: 0 15px;
}

/* .fourth-section div {
    display: flex;
    flex-wrap: wrap;
}

.fourth-section div button {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 30px;
    color: var(--rojo-muy-pálido);
    display: flex;
    flex-direction: column;
    font-weight: 700;
    height: 43px;
    justify-content: center;
    margin-right: 23px;
    max-width: 63px;
    padding: 10px 25px;
}

.fourth-section .text-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.fourth-section div h3 {
    color: var(--azul-oscuro);
    font-weight: 700;
}

.fourth-section div p {
    color: var(--azul-grisáceo-oscuro);
    display: flex;
    flex-direction: column;
    line-height: 26px;
    max-width: 458px;
    padding-top: 26px;
    text-align: left;
} */

/* Main - Box 3*/
    /*Fifth section*/

.box-section-3 {
    display: flex;
    flex-direction: column;
}

.box-section-3 h2 {
    color: var(--azul-oscuro);
    font-weight: 700;
    font-size: 39px;
    padding-top: 130px;
    padding-bottom: 74px;
    text-align: center;
}

.fifth-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px;
}

.fifth-section div {
    display: flex;
    flex-direction: column;
    padding: 0 9px;
}

.fifth-section div img {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    max-width: 70px;
}

.fifth-section div h4 {
    align-self: center;
    color: var(--azul-oscuro);
    display: flex;
    flex-direction: column;
    padding-bottom: 21px;
    padding-top: 21px;
    text-align: center;
    width: 100px;
}

.fifth-section div p {
    color: var(--azul-grisáceo-oscuro);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    justify-content: center;
    line-height: 25px;
    text-align: center;
}

.box-section-3 button {
    align-self: center;
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-muy-pálido);
    font-size: 13px;
    font-weight: 500;
    margin: 80px 0;
    max-width: 134px;
    padding: 10px 25px;
}

/* Main - Box 4*/

.box-section-4 {
    background-color: var(--rojo-brillante);
    display: flex;
    flex-direction: row;
    height: 224px;
}

.box-section-4 h2 {
    color: var(--rojo-muy-pálido);
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    padding-left: 164px;
    padding-top: 64px;
    width: 610px;
}

.box-section-4 button {
    align-self: center;
    background-color: var(--rojo-muy-pálido);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: var(--rojo-brillante);
    display: flex;
    font-size: 13px;
    font-weight: 500;
    max-width: 134px;
    padding: 10px 25px;
    position: absolute;
    right: 140px;
}

/* Footer*/

footer {
    background-color: var(--azul-muy-oscuro);
    display: flex;
    flex-direction: row;
    padding: 53px 0 0 170px;
}

    /* Img*/

.box-footer-img img {
    display: flex;
    height: 26px;
    margin-top: 15px;
    width: 145px;
}

    /* Icon*/

.box-footer .box-footer-icon {
    display: flex;
    justify-content: space-between;
    padding-bottom: 67px;
    padding-top: 67px;
    width: 154px;
}

    /* List*/

.box-list {
    display: flex;
    height: 247px;
    justify-content: space-between;
    margin: 0px 100px 0 110px;
    width: 360px;
}

.box-list .list-1 {
    color: var(--variante-gris-claro);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: space-between;
    height: 130px;
    list-style: none;
}

.box-list .list-2 {
    color: var(--variante-gris-claro);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    height: 95px;
    justify-content: space-between;
    list-style: none;
}

    /* Input*/

.box-input input {
    border: none;
    border-radius: 50px;
    height: 44px;
    padding: 10px;
    width: 201px;
}

.box-input button {
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 30px;
    color: var(--variante-gris-claro);
    font-size: 13px;
    font-weight: 500;
    height: 43px;
    justify-content: center;
    margin-left: 9px;
    max-width: 63px;
    padding: 10px 25px;
    text-align: center;
}

.box-input p {
    color: var(--azul-grisáceo-oscuro);
    font-size: 12.5px;
    font-weight: 500;
    padding: 74px 0 0 55px;
}


@media (max-width:1000px) {
    .box-section-1{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .first-section {
        display: flex;
        align-items: center;
        margin-bottom: 0rem;
        margin-top: 40rem;
        margin-left: -50px;
    }
    .first-section h1 {
        text-align: center;
    }

    .first-section p {
        font-size: 1.6rem;
        text-align: justify;
        width: 300px;
    }

    .second-section{
        position: absolute;
        top: 70px;
    }
    .second-section img {
        display: flex;
        width: 100%;
        padding-top: 80px;
    }
    .box-section-2{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        margin-top: 8rem;
    }

    .third-section {
        display: flex;
        align-items: center;
    }
    .third-section h2{
        text-align:center;
    }
    .third-section p{
        text-align:center;
    }

    /* .fourth-section {
        
    }
    .fourth-section .text-container {
        margin: 0;
    }

    .fourth-section div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .fourth-section div button {
        display: flex;
    }

    .fourth-section .text-container p {
        
        
    } */

    /* .box-section-3{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    } */
    /* .box-section-4{
        display: flex;
        flex-wrap: wrap;
        justify-content:cen ter;
        text-align: center;
    } */
}